<br>
<div class="alert alert-danger" *ngIf="errorMessage">
  <strong>{{errorMessage}}</strong>
</div>

<h1>Welcome!</h1>

<div class="container">
  Welcome {{name}}. Welcome to our awesome App.
  You can manage your todos <a routerLink="/todos"> here </a>
</div>

<div class="container">
  Click to get a personalised message

  <br>
  <br>

  <button class="btn btn-success" (click)=getWelcomeMessageWithParameter()> Click to get Message</button>

  <br>
  <br>
</div>

<!-- the ng if here only shows the container is the welcomeMessageFromService has a value  -->
<div class="container" *ngIf="serviceSuccessfulMessage">
  <h2>Your Customized Welcome Message</h2>
  {{serviceSuccessfulMessage}}
</div>